/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLES */

html{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 62.5%;
}

h1{
	font-family: 'Orbitron', sans-serif;
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 3rem;
	text-align: center;
}

h3{
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 3%;
}

img{
	max-width: 300px;
	max-height: 300px;
}

header{
	border-bottom: 2px solid black;
}

p{
	font-size: 1.8rem;
	line-height: 1.5;
}

.container{
	display: flex;
	flex-wrap: wrap;
	margin: 2%;
}

.header-container{
	display: flex;
	margin: 2%;
	padding: 1%;
	background-color: lightgray;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2% auto;
}

a{
	text-decoration: none;
}

a:before{
	color: blue;
}

a:hover{
	color: aqua;
}

a:after{
	color:blueviolet;
}

.header{
	max-width: 98vw;
	justify-content: space-between;
}
.nav-link{
	margin: 5% 1%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: slategrey;
	color: white;
	padding: 2%;
	font-size: 1.4rem;
}

.current{
	margin: 5% 1%;
	border: 2px solid black;
	border-radius: 5px;
	background-color:darkslategray;
	color: white;
	padding: 2%;
	font-size: 1.4rem;
}

.section-header{
	margin: 3% auto;
	text-decoration: underline;
}

.cta{
	border-bottom: 2px solid black;
}

.cta-text{
	display:flex;
	flex-direction: column;
}

.cta-text p{
	margin: 0 5%;
}

.cta-text button{
	text-align: center;
	width: fit-content;
	margin: 2% 45%;
	padding: 5px;
	border-radius: 2px;
	font-family: 'IBM Plex Mono', monospace;
}

.header-image{
	padding: 3%;
	margin: 0 auto;
}

.profile-image{
	border-radius: 50%;
	padding: 3%;
	margin: 0 auto;
}

.preview{
	border-bottom: 2px solid black;

}

.card{
	width: 300px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.card-text{
	margin-top: 2%;
	text-align: center;
}

.hobbies{
	border-bottom: 2px solid black;
    text-align: center;
}

.footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	margin: 2%;
	padding: 1%;
	background-color: lightgray;
}

footer .footer-btn{
	text-align: center;
	width: 100px;
	margin: 2% 45%;
	padding: 5px;
	border-radius: 5px;
	font-family: 'IBM Plex Mono', monospace;
}

button:hover{
	background-color: lightslategray;
	color: white;
}

.contactInfo{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.contactIcon{
	color: darkslategray;
}

.aboutMe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2%;
	padding: 2%;
}

@media (max-width: 800px){
    .header-container{
		display: flex;
		flex-wrap: wrap;
	}
	.profile-image{
		display: flex;
		justify-content: center;
	}
	nav{
		display: flex;
		flex-wrap: wrap;
	}
}

@media (max-width: 500px){
	p{
        text-align: center;
    }
    img{
        max-width: 200px;
        max-height: 200px;
    }
    .card{
        width: 200px;
        height: 300px;
    }

}
